@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

@import url(https://fonts.googleapis.com/css?family=Cabin:400,400italic,700,700italic);
/* --------------------------
    Variables
-------------------------- */
/* Coolors Exported Palette - https://coolors.co/app/fafaff-383d3b-db3a3e-8ee3ed-048ba8 */
/* --------------------------
    General
-------------------------- */
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none !important;
  list-style: none;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
b {
  font-weight: 800;
}
.form-control,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  border-radius: 0;
}
a,
a:hover {
  text-decoration: none;
}
.header {
  display: block;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url(../img/hero.jpg);
}
.header .callout {
  color: #fafaff;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.header .callout h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
.header .callout p {
  font-family: 'Cabin', serif;
  font-size: 1.5em;
  margin: 0.25em 0 1em 0;
}
.header .callout a .btn {
  display: inline-block;
  margin-right: 0.5em;
  padding: 0.5em 2em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 100em;
}
.header .callout a .btn.join {
  background-color: #00cecb;
  color: #fafaff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header .callout a .btn.join:hover {
  color: #00cecb;
  background-color: #fafaff;
}
.header .callout a .btn.login {
  border: 2px solid #424b54;
  color: #424b54;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header .callout a .btn.login:hover {
  color: #fafaff;
  background-color: #424b54;
}
/* --------------------------
    Navigation
-------------------------- */
.nav {
  height: 100vh;
  width: 8vw;
  background-color: #1b1b1b;
  display: table;
}
li {
  height: 33vh;
  width: 100%;
  text-align: center;
  background-color: #1b1b1b;
  display: table;
}
li a {
  color: #fafaff;
  display: table-cell;
  vertical-align: middle;
  background-color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
li a:hover {
  background-color: #323031;
  color: #fafaff;
}
li a.active {
  background-color: #00cecb;
}
li a img {
  display: block;
  margin: 0 auto;
  padding-bottom: 1em;
}
li a p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  letter-spacing: 1px;
}
/* --------------------------
    Search Bar
-------------------------- */
body {
  padding: 40px 0px;
}
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
}
#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}
#search input[type="search"] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}
#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;
}
#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}
/* -------------------------------- 
 Main Content
-------------------------------- */
.cd-main {
  height: 100vh;
  overflow: hidden;
}
.cd-section {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-left: 70px;
  /* Force Hardware Acceleration */

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0s 0.5s;
  -moz-transition: -moz-transform 0s 0.5s;
  transition: transform 0s 0.5s;
}
.cd-section.overflow-hidden {
  /* this class is used to hide the scrolling bar while a new section is entering the viewport */

  overflow: hidden;
}
.cd-section header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #83b0b9;
  overflow: hidden;
}
.cd-section.services header {
  background-color: #d35657;
}
.cd-section.projects header {
  background-color: #343943;
}
.cd-section.contact header {
  background-color: #e4b162;
}
.cd-section .cd-scroll {
  /* this is the arrow at the bottom of the header */

  display: block;
  position: absolute;
  bottom: 60px;
  left: -webkit-calc(15vw);
  left: calc(15vw);
  width: 44px;
  height: 44px;
  /* image replacement */

  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: -webkit-transform 0s 0.5s, visibility 0s 0.5s;
  -moz-transition: -moz-transform 0s 0.5s, visibility 0s 0.5s;
  transition: transform 0s 0.5s, visibility 0s 0.5s;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
}
.cd-section.visible {
  /* this is the visible/selected section */

  position: relative;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s 0s;
  -moz-transition: -moz-transform 0.5s 0s;
  transition: transform 0.5s 0s;
}
.cd-section.visible .cd-scroll {
  visibility: visible;
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.5s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s 0.5s, visibility 0s 0s;
  transition: transform 0.3s 0.5s, visibility 0s 0s;
  -webkit-animation: cd-scroll-down 1.2s 0.9s;
  -moz-animation: cd-scroll-down 1.2s 0.9s;
  animation: cd-scroll-down 1.2s 0.9s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}
@media only screen and (min-width: 480px) {
  .cd-section {
    padding-left: 90px;
  }
  .cd-section .cd-scroll {
    left: -webkit-calc(5vw);
    left: calc(5vw);
  }
}
@-webkit-keyframes cd-scroll-down {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
  }
}
@-moz-keyframes cd-scroll-down {
  0% {
    -moz-transform: translateX(-50%) scale(1);
  }
  50% {
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -moz-transform: translateX(-50%) scale(1);
  }
}
@keyframes cd-scroll-down {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    -moz-transform: translateY(10px) translateX(-50%) scale(1);
    -ms-transform: translateY(10px) translateX(-50%) scale(1);
    -o-transform: translateY(10px) translateX(-50%) scale(1);
    transform: translateY(10px) translateX(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
  }
}
.cd-title {
  position: absolute;
  top: 50%;
  left: 0;
  /* this prevents title from jumping when the section scroll bar is visible */

  width: calc(10vw);
  padding: 1em;
  color: #ffffff;
  text-align: center;
  /* Force Hardware Acceleration */

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 0;
  -webkit-transform: translateY(-50%) translateX(-80px);
  -moz-transform: translateY(-50%) translateX(-80px);
  -ms-transform: translateY(-50%) translateX(-80px);
  -o-transform: translateY(-50%) translateX(-80px);
  transform: translateY(-50%) translateX(-80px);
  -webkit-transition: -webkit-transform 0s 0.5s, opacity 0s 0.5s;
  -moz-transition: -moz-transform 0s 0.5s, opacity 0s 0.5s;
  transition: transform 0s 0.5s, opacity 0s 0.5s;
}
.cd-title h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.cd-title span {
  opacity: 0.6;
}
.visible .cd-title {
  opacity: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.4s 0.3s, opacity 0.4s 0.3s;
  -moz-transition: -moz-transform 0.4s 0.3s, opacity 0.4s 0.3s;
  transition: transform 0.4s 0.3s, opacity 0.4s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-title h2 {
    font-size: 5rem;
  }
}
.cd-content {
  padding: 2em 0;
  background-color: #ebebeb;
}
.cd-content p {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 2em;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #999999;
}
@media only screen and (min-width: 768px) {
  .cd-content {
    padding: 4em 0;
  }
  .cd-content p {
    font-size: 1.6rem;
  }
}
/* --------------------------
    Accordion
-------------------------- */
.cd-accordion-menu {
  width: 100%;
  background: #4d5158;
  margin: 4em auto;
}
.cd-accordion-menu ul {
  /* by default hide all sub menus */

  display: none;
}
.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */

  position: absolute;
  opacity: 0;
}
.cd-accordion-menu label,
.cd-accordion-menu a {
  position: relative;
  display: block;
  padding: 18px 18px 18px 64px;
  background: #4d5158;
  color: #ffffff;
  font-size: 1.6rem;
}
.no-touch .cd-accordion-menu label:hover,
.no-touch .cd-accordion-menu a:hover {
  background: #52565d;
}
.cd-accordion-menu label::before,
.cd-accordion-menu label::after,
.cd-accordion-menu a::after {
  /* icons */

  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu label {
  cursor: pointer;
}
.cd-accordion-menu label::before,
.cd-accordion-menu label::after {
  background-image: url(../img/cd-icons.svg);
  background-repeat: no-repeat;
}
.cd-accordion-menu label::before {
  /* arrow icon */

  left: 18px;
  background-position: 0 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-accordion-menu label::after {
  /* folder icons */

  left: 41px;
  background-position: -16px 0;
}
.cd-accordion-menu a::after {
  /* image icon */

  left: 36px;
  background: url(../img/cd-icons.svg) no-repeat -48px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */

  background-position: -32px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/

  /* show children when item is checked */

  display: block;
}
.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
  background: #35383d;
  padding-left: 82px;
}
.no-touch .cd-accordion-menu ul label:hover,
.no-touch .cd-accordion-menu ul a:hover {
  background: #3c3f45;
}
.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
  box-shadow: none;
}
.cd-accordion-menu ul label::before {
  left: 36px;
}
.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
  left: 59px;
}
.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
  padding-left: 100px;
}
.cd-accordion-menu ul ul label::before {
  left: 54px;
}
.cd-accordion-menu ul ul label::after,
.cd-accordion-menu ul ul a::after {
  left: 77px;
}
.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
  padding-left: 118px;
}
.cd-accordion-menu ul ul ul label::before {
  left: 72px;
}
.cd-accordion-menu ul ul ul label::after,
.cd-accordion-menu ul ul ul a::after {
  left: 95px;
}
@media only screen and (min-width: 600px) {
  .cd-accordion-menu label,
  .cd-accordion-menu a {
    padding: 24px 24px 24px 82px;
    font-size: 1.9rem;
  }
  .cd-accordion-menu label::before {
    left: 24px;
  }
  .cd-accordion-menu label::after {
    left: 53px;
  }
  .cd-accordion-menu ul label,
  .cd-accordion-menu ul a {
    padding-left: 106px;
  }
  .cd-accordion-menu ul label::before {
    left: 48px;
  }
  .cd-accordion-menu ul label::after,
  .cd-accordion-menu ul a::after {
    left: 77px;
  }
  .cd-accordion-menu ul ul label,
  .cd-accordion-menu ul ul a {
    padding-left: 130px;
  }
  .cd-accordion-menu ul ul label::before {
    left: 72px;
  }
  .cd-accordion-menu ul ul label::after,
  .cd-accordion-menu ul ul a::after {
    left: 101px;
  }
  .cd-accordion-menu ul ul ul label,
  .cd-accordion-menu ul ul ul a {
    padding-left: 154px;
  }
  .cd-accordion-menu ul ul ul label::before {
    left: 96px;
  }
  .cd-accordion-menu ul ul ul label::after,
  .cd-accordion-menu ul ul ul a::after {
    left: 125px;
  }
}
.cd-accordion-menu.animated label::before {
  /* this class is used if you're using jquery to animate the accordion */

  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
